@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /* outline: 1px solid red; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #32362E;

}

ul {
    list-style-type: none;
}

/* Header */
header {
    width: 100%;
    padding: 7px 15px;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* height: 50px; */
}

header a {
    text-decoration: none;
    color: inherit;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #000000;
    font-size: medium;
}
 #logo {
    display: flex;
    justify-content: start;
    /* align-items: baseline; */
 }

.logo-text {
    margin-left: 5px;
}

.logo-text span {
    font-size: 60%;
}


/* navigation */
nav {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 15px;
    box-shadow: 0 2px 2px #32362E;
    display: none;
    top: 100%;
}

#menu {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    background-color: #FEDD01;
}

#menu-toggle:checked~nav {
    display: block;
}
#menu-toggle {
    display: none;
}

.menu-toggle-label {
    font-size: 2rem;
}


#menu li {
    margin-bottom: 10px;
}

.active {
border-bottom: 1px solid #32362E;
}

/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 53px;
}

/* footer */
footer {
    background-color: #FEDD01;
    width: 100%;
    height: 50px;
}

/* Media query: tablets and larger */
@media screen and (min-width: 768px) {
    /* Header */
    header {
        padding: 7px 25px;
    }

    #logo {
        margin: 0 5px;
    }

    h1 {
        font-size: 125%;
    }

    nav {
        display: block;
        position: relative;
        width: fit-content;
        box-shadow: none;
        padding-right: 0;
        margin-right: 5px;
    }

    #menu {
        display: flex;
        background-color: #ffffff;
    }

    .menu-toggle-label {
        display: none;
    }

    #menu > li {
        padding-left: 20px;    
    }

   /* Main content */
    main {
    margin-top: 63px;
    }
}