
* {
    outline: 1px solid red;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {

}

/* Main content */
main {

}

/* footer */
footer {
    background-color: #FEDD01;
    width: 100%;
    height: 50px;
}
